.profile-page {
  display: contents;
  align-items: center;
  color:wheat;
  font-size: 18px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    position: relative;
    top: 71px;
    left: -60px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 99999;
    
    &:hover{
      opacity: 80%;
    }
  }

  & label{
    position: relative;
    top:77px;
    left: -55px;
    width: 55px;
    padding-top: 10px;
    font-size: 15px;
    
    &:hover{
      cursor: pointer;
    }
  
    & input {
      display: none;
    }
  }

  & P{
   padding: 0px 10px;
  }
}

.profileBtn{
  display: flex; 
  padding: 0px 0px 0px 60px;
  flex-direction: row;
  width: 180px;
  background: rgb(247, 222, 176, 0.20);
  color: wheat;
  font-size: 15px;
  font-weight: 600;
  
  &:hover {
    background-color: rgb(247, 222, 176,0.40);
  }
}


.image-container {
  position: relative;  
}

.dropdown-menu {
  position: absolute;
  left: -67px;
  top: 117px;
  width: 178px;
  height: 0px;
  background-color: #959595;
  color: wheat;
  border-radius: 4px;
  overflow: hidden;
  transition: height 0.7s ease;
}

.image-container:hover .dropdown-menu {
  height: 60px;
}

.dropdown-menu ul {
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  cursor: pointer;
  padding: 4px;
}

.dropdown-menu li:hover {
  background-color: #6e6c6c;
}


.test{
  /* display: none; */
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 280px;
  transition: height 0.5s;
}

.log-out-link {
  text-decoration: none;
  padding: 0px;
 
}
