.product-buttons-container {
    display: flex;
    width: 210px;
    justify-content: space-between;
  }

  .basket-wrapper{
    position: absolute;
    top: 40px;
    padding: 5px;
    background: rgba(199, 177, 141, 0.24);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(199, 177, 141, 0.495);
}
  
  .basket-container {
    /* position: absolute;
    top: 40px; */
    border-radius: 8px;
    display: block;
    width: 190px;
    height: 130px;
    padding: 0px 10px 10px 10px;
    overflow: scroll;
    background-color: rgba(199, 177, 141, 0.297);
    opacity: 0;
    transform: translateY(-10px);
    animation: dropdown 0.5s ease forwards;
  
    &::-webkit-scrollbar {
      width: 7px;
      margin: 10px;
      border-radius: 5px;
      height: 0;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #9f9e9e;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
    }
  
    & span {
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: bold;
    }
  
    & .basket {
      display: block;
      padding: 0px;
      font-weight: bold;
      position: relative;
  
      & .basket-product {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: rgb(229, 241, 229);;
      }
  
      & .basket-img {
        width: 33px;
        height: 33px;
        border-radius: 40%;
        margin: 0 12px 0 10px;
      }
  
      & .total-price {
        padding-top: 7px;
      }
    }
  
    & .total-cost{
      display: block;
      text-align: -webkit-center;
      font-size: 18px;
      font-weight: bold;
      color: white;

      & button {
        margin: 5px 0px 0px 0px;
      }
    }
  }
  
  .total-price {
    display: flex;
    color: rgb(242, 255, 0);
    align-items: center;
    margin: 5px;
  }
  
  .products-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    overflow-y: scroll;
    background-color: #c904041c;
    border-radius: 10px;
    box-shadow: 0px 0px 36px rgba(152, 1, 1, 0.35);

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: rgba(156, 22, 22, 0.349);
    }

    &:hover {
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgba(255, 0, 0, 0.644);
      }
    }
  }

  
  
  
  
  .product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: gold;
    height: 400px;
  }
   h1 {
    color: rgb(255, 255, 0);
    margin-top:0px
   }
  .product-img {
    height: 90px;
    width: 95px;
    margin: 20px 10px -10px 10px;
    border-radius: 10px;
  }

  .product-price {
    color: white;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 16px;
    font-size: 16px;
    position: relative;
  }


  .add-discount {
    color: rgb(255, 77, 0);
    
    &:after {
      position: absolute;
      content: "";
      width: 26%;
      border-bottom: 2px solid red;
      transform: rotate(-23deg);
      top: 8px;
      left: 57px;
    }
  }
  
  .cost-price {
    color: rgb(229, 241, 229);
  }
  
  .add-button {
    margin-top: -105px;
    margin-left: 55px;
    border: 1px solid #000;
    padding: 5px 10px;
    cursor: pointer;
    opacity: 15;
    transition: opacity 0.3s;
    color: rgba(36, 34, 34, 0.813);
     &:hover {
      color:rgb(0, 0, 0)
     }
  }

  .buy-now-btn{
    position: relative;
    margin-top: -35px;
    margin-left: 23px;
    cursor: pointer;
    border: 1px solid black;
    background-color:rgba(43, 104, 236, 0.863);
    color: white;
    &:hover {
       background-color:rgb(0, 69, 217);
     }
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .product-image-container {
    position: relative;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
  }
  
  .add-button {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    padding: 5px 10px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .trash-icon {
    color: rgba(154, 12, 12, 0.792);
    margin-left:8px;
    width: 15px;
    height: 16px;
  }
  
  .trash-icon:hover {
    color: red;
      width: 16px;
      height: 20px;
  }
  
  
  @keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 15px rgba(255, 238, 0, 0.094);
    border-top-color: wheat;
    border-bottom-color: #ffb700;
    border-radius: 50%;
    padding: 20px;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }

  .no-discount{
    display: none;
  }

  .no-discount~.add-button{
    margin-top:-75px;
  }

  .discount{
    display: block;
    color:white;
    font-size: 18px;
    font-weight: bold;
  }

  